@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-button, .footer-button, .footer-icon__link, .footer-icon, .logo-clients__link, .icon-teams__link, .icon-teams, .benefit, .modal__labelCheckbox, .section-main__button, .contacts-icon__mail,
.contacts-icon__tel, .page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-clients, .section-main {
  margin-right: auto;
  margin-left: auto;
}

.cart-product__text, .project-img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-overlay, .backdrop {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.overlay__text, .foun__text, .modal__iconClose, .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  cursor: pointer;
}

.logo__text {
  color: #212121;
}

.contacts {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:visited {
  color: #212121;
}
.contacts:hover, .contacts:focus {
  color: #2196F3;
}

.contacts__link.current {
  color: #2196F3;
  position: relative;
  display: block;
}

.contacts__link {
  color: #212121;
}

.contacts-icon__mail,
.contacts-icon__tel {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-icon__mail:hover, .contacts-icon__mail:focus,
.contacts-icon__tel:hover,
.contacts-icon__tel:focus {
  color: #2196F3;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: block;
  margin-right: 93px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  margin-left: auto;
}

.contacts__item {
  margin-right: 50px;
}
.contacts__item:nth-child(3) {
  margin-right: 0px;
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-icon__mail,
.contacts-icon__tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-icon__item + .contacts-icon__item {
  margin-left: 30px;
}

.contacts-icon__mail,
.contacts-icon__tel {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon__mail:hover, .contacts-icon__mail:focus,
.contacts-icon__tel:hover,
.contacts-icon__tel:focus {
  color: #2196F3;
}

.contacts-icon__envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon__envelope:hover, .contacts-icon__envelope:focus {
  fill: #2196F3;
}

.contacts-icon__smartphone {
  fill: #757575;
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon__smartphone:hover, .contacts-icon__smartphone:focus {
  fill: #2196F3;
}

.contacts__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
}

/* Заказать услугу */
.section-main {
  background-color: #2F303A;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  /* Фон и декор. елементы в разделе "заказать услугу" */
}
.section-main {
  max-width: 1600px;
  height: 600px;
  background-image: url(../imeges/img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img.jpg);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-main__titel {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto;
  margin-bottom: 30px;
  width: 696px;
}

.section-main__button {
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin: 0px auto;
  padding: 10px 32px 10px 32px;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-main__button:hover, .section-main__button:focus {
  background-color: #188CE8;
}

.backdrop {
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  right: 0px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 8px 8px auto auto;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}

/* Форма в модальном окне в разделе заказать услугу */
.modal__paragraph {
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 16px;
}

.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  position: relative;
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  padding: auto;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196F3;
  outline: none !important;
}
.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.modal__icon {
  position: absolute;
  padding: 11px auto 11px 12px;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.modal__comment {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
  border-color: #188CE8;
  outline: none !important;
}

.modal__labelCheckbox {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.modal__inputCheckbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}
.modal__inputCheckbox:checked + .modal__iconCheckbox {
  background-origin: border-box;
  background-image: url(../imeges/icon\ check\ \(2\).svg);
  background-size: contain;
  background-color: #2196F3;
  border-color: #2196F3;
}

.modal__iconCheckbox {
  display: inline-block;
  border-radius: 2px;
  margin-right: 7px;
}

.modal__link {
  color: rgb(33, 150, 243);
  text-decoration: underline;
  margin-left: 4px;
}

.modal__submit {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit:hover, .modal__submit:focus {
  background-color: #188CE8;
}

/* Оссобенности */
.features {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.features__item {
  width: 270px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features__item:nth-child(4) {
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.features__post {
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Декоративные ел. в разделе оссобенности  */
.div-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit {
  width: 270px;
  height: 120px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.benefit:nth-child(4) {
  margin-right: 0px;
}

.benefit__icon {
  background-position: center;
}

/* Чем мы занимаемся */
.over-work {
  padding-top: 0px;
}

.conteiner__title {
  margin-bottom: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-foto {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 0px;
}

.gallery-foto:nth-child(3) {
  margin-right: 0px;
  padding-right: 0px;
}

/* Переходы и анимац. в разделе чем мы занимаемся  */
.foto {
  position: relative;
}

.foun {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.comand {
  background-color: #F5F4FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.our-team__item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.our-team__item:nth-child(4) {
  margin-right: 0px;
}

.our-team__foto {
  width: 270px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.our-team__specialty {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
}

.our-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-teams {
  margin-bottom: 30px;
}

.icon-teams__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.icon-teams__link {
  fill: #AFB1B8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-teams__link:nth-child(4) {
  margin-right: 0px;
}
.icon-teams__link:hover, .icon-teams__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.icon-teams__icon {
  margin-right: 0px;
}

.logo-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.logo-clients__item:nth-child(6n) {
  margin-right: 0px;
}

.logo-clients__link {
  width: 100%;
  height: 100%;
  fill: rgb(175, 177, 184);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-clients__link:hover, .logo-clients__link:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.logo-clients__icon {
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-clients__icon:hover, .logo-clients__icon:focus {
  fill: #2196F3;
}

.footer {
  color: #FFFFFF;
  background-color: #2F303A;
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box__logo {
  margin: 0px 0px 20px 0px;
  color: #2196F3;
}

.logo__studio {
  margin: 0px 0px 20px 0px;
  color: #FFFFFF;
}

.list-footer {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

.list-footer__item {
  margin-bottom: 9px;
}
.list-footer__item:nth-child(3n) {
  margin-bottom: 0px;
}

.list-footer__address {
  color: #FFFFFF;
  margin-right: 70px;
}

.list-footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-box__paragraph {
  display: inline;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-icon {
  margin-top: 20px;
}

.box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-icon__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-icon__item:nth-child(4) {
  margin-right: 0px;
}

.footer-icon__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}

.footer-box {
  margin-left: auto;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 295px 15px 16px;
  margin-top: 20px;
  background-color: #2F303A;
  color: #FFFFFF;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 12px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover, .footer-button:focus {
  background-color: #188CE8;
}

.footer-button-icon {
  margin-left: 10px;
}

.portfolio-button {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px;
}

.portfolio-button__item {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.portfolio-button__item + .portfolio-button__item {
  margin-left: 8px;
}
.portfolio-button__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button__item:hover, .portfolio-button__item:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button__name {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button__name:hover, .portfolio-button__name:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.portfolio-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0px;
}

.portfolio-project__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-project__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-project__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.cart-product {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.cart-product__name {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cart-product__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.last {
  margin-bottom: 0px;
}

.portfolio-project__link {
  display: block;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-project__link:hover, .portfolio-project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project__link .div-overlay {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project__link:hover .div-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}

.portfolio-project__link:hover .overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product {
  position: relative;
  overflow: hidden;
}
.product:hover .div-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.div-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.div-overlay:hover {
  opacity: 1;
}

.overlay__text {
  color: #FFFFFF;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  opacity: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text:hover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */